<header class="page-header">
    <div class="container">
      <div class="page-header__content">
        <div class="logo">
          <img src="/assets/logotipo.jpeg" alt="Logo" width="180px">
        </div>
        <nav>

          <ul role="list" class="nav-list flex-group">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/blog/">Blog</a>
            </li>
             <li>
              <a href="/home">Yoga Casal</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>